<!DOCTYPE html>
<html>
  <head>
    <title>자유게시판</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body><div style="text-align:center">
    <h1>자유게시판</h1>
    <a href="/make" class="myButton">게시물 작성</a>
    <table style = "text-align:center">
        <thead>
          <tr>
            <th>게시판 번호</th>
            <th>제목</th>
            <th>내용</th>
          </div>
          </tr>
        </thead>
        <tbody>
          <% for(let post of success) {%>
          <tr>
            <td><a href="/<%= post.id %>"><%= post.id %></a></td>
            <td><%= post.user_title %></td>
            <td><%= post.user_contents %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
