<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>게시물 작성</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/make.css" />
</head>
<body>
    <form action = "/makes" method = "POST">
    <div class = "position">
    <h1>게시물 작성</h1>
    <p>제목 <input type = "text" name = "user_title"></p>
    <p>내용 <input type = "text" name = "user_contents"></p>
    <input class = "button" type = "submit" value = "확인">
    </table>
    </div>
    </form>
</body>
</html>